.banner {
  display: flex;
  align-items: center;
  padding: 40px 0;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 48px;
  margin-bottom: 45px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px 0px;
}

.banner_left {
  padding: 0 50px 0 55px;
  border-right: 1px solid rgba(54, 54, 54, .6);
  width: 100%;

}

.banner_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  width: 100%;
}

.banner_title {
  padding-top: 15px;
  font-size: 30px;
  color: #363636;
  margin-bottom: 20px;
  font-weight: 600;
}

.banner_text {
  font-size: 17px;
  /* line-height: 20px; */
  color: #363636;
  width: 335px;
}

.banner__btn {
  margin-left: 5px;
  font-size: 14px;
  /* line-height: 16px; */
  color: #FFFFFF;
  background: #5E419D;
  border-radius: 100px;
  padding: 10px 16px;
  border: none;
}

@media only screen and (max-width: 1000px) {
  .banner {
    flex-wrap: wrap;
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 630px) {
  .banner_left {
    padding: 0;
    border-right: 0;
  }

  .banner_right {
    flex-wrap: wrap;
    padding: 0;

  }

  .banner__btn {
    width: 100%;
    margin-top: 20px;
  }

  .banner_text {
    width: auto;
  }
}